@model AppUserModel
@{
	ViewData["Title"] = "Update Account Information";
}
<h3>Update Account Information</h3>
<div class="col-md-9">
	<form asp-action="UpdateInfoAccount" asp-controller="Account" method="POST">
		<input type="hidden" asp-for="Id"/>

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label> UserName</label>
			<input asp-for="UserName" readonly class="form-control" />
			<span asp-validation-for="UserName" class="text-danger" />
		</div>
		<div class="form-group">
			<label> Email</label>
			<input asp-for="Email" readonly class="form-control" />
			<span asp-validation-for="Email" class="text-danger" />
		</div>
		<div class="form-group">
			<label> Phone Number</label>
			<input asp-for="PhoneNumber" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger" />
		</div>
		<div class="form-group">
			<label> Old PassWord</label>
			<input type="text" readonly  value="@Model.PasswordHash" class="form-control" />
		</div>
		<div class="form-group">
			<label> New PassWord</label>
			<input type="text" name="PasswordHash" required class="form-control" />
			<span asp-validation-for="PasswordHash" class="text-danger" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary"> Update</button>
		</div>


	</form>

</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
