USE [Shopping]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Occupation] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Token] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [nvarchar](max) NULL,
	[Interests] [nvarchar](max) NULL,
	[PreferredColors] [nvarchar](max) NULL,
	[PreferredStyle] [nvarchar](max) NULL,
	[PriceRange] [nvarchar](max) NULL,
	[SizePreference] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatConversations]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatConversations](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ChatConversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ProductRecommendations] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DateStart] [datetime2](7) NOT NULL,
	[DateExpried] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MomoInfos]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MomoInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](max) NULL,
	[OrderInfo] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DatePaid] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MomoInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[OrderCode] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_code] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
	[CouponCode] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[Receiver] [nvarchar](255) NULL,
	[PhoneReceiver] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductQuantities]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductQuantities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductQuantities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Sold] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Star] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippings]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Ward] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
 CONSTRAINT [PK_Shippings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statisticals]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statisticals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Sold] [int] NOT NULL,
	[Revenue] [decimal](18, 2) NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Statisticals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VnInfos]    Script Date: 18/01/2026 4:23:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VnInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDescription] [nvarchar](max) NULL,
	[TransactionId] [nvarchar](max) NULL,
	[OrderId] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[PaymentId] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VnInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250325153431_Initial', N'8.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250328021614_IdentityMigration', N'8.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250328080030_CreateCheckout', N'8.0.14')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1', N'Sales', N'SALES', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3', N'User', N'USER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'022b2f9b-95ff-4071-936e-8a23e9826501', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1ad9abf5-9b76-4d2e-982f-366368a948f3', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6f70c27d-a497-4d72-83f5-2c6fb5c626f1', N'2')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [Description], [Slug], [Status]) VALUES (1, N'Gucci', N'The House of Gucci, hay được biết đến ngắn gọn là Gucci, là một biểu tượng thời trang sở hữu bởi Ý và Pháp, một nhãn hiệu đồ da nổi tiếng. Gucci được thành lập vào năm 1921 bởi Guccio Gucci tại Florence, Toscana', N'Gucci', 1)
INSERT [dbo].[Brands] ([Id], [Name], [Description], [Slug], [Status]) VALUES (2, N'Chanel', N'Chanel là tên thông dụng của một hãng thời trang Pháp, đóng tại thủ đô Paris được Coco Chanel sáng lập', N'Chanel', 1)
INSERT [dbo].[Brands] ([Id], [Name], [Description], [Slug], [Status]) VALUES (5, N'Dior', N'xuất từ Pháp', N'Dior', 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [Slug], [Status]) VALUES (1, N'Quần', N'quần rất đẹp', N'Quần', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Slug], [Status]) VALUES (2, N'Áo', N'Áo đẹp', N'Áo', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Slug], [Status]) VALUES (15, N'Quần Tây ', N'Quần tây là trang phục mang phong cách lịch sự và tinh tế, thường được sử dụng trong môi trường công sở hoặc các dịp trang trọng', N'Quần-Tây-', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[ChatConversations] ([Id], [UserId], [Title], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'7c7b2d24-990a-4008-8e4b-1154ca81597c', N'b06b5de0-9d70-47fb-b29b-1a5cbbfe5f53', N'gợi ý quần', CAST(N'2025-12-28T19:30:21.4959198' AS DateTime2), CAST(N'2025-12-28T19:31:06.8943932' AS DateTime2), 1)
INSERT [dbo].[ChatConversations] ([Id], [UserId], [Title], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'b04f0af6-9846-4432-91b1-290a50cb75fa', N'b06b5de0-9d70-47fb-b29b-1a5cbbfe5f53', N'gợi ý quần', CAST(N'2026-01-07T13:34:15.7856174' AS DateTime2), CAST(N'2026-01-07T13:34:32.1738432' AS DateTime2), 1)
INSERT [dbo].[ChatConversations] ([Id], [UserId], [Title], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (N'b95a8a91-23bd-4b81-97c6-2ccbb16c4594', N'b06b5de0-9d70-47fb-b29b-1a5cbbfe5f53', N'gợi ý quần', CAST(N'2026-01-09T13:56:19.1413728' AS DateTime2), CAST(N'2026-01-09T13:57:41.0136447' AS DateTime2), 0)
GO
INSERT [dbo].[ChatMessages] ([Id], [ConversationId], [Role], [Content], [ProductRecommendations], [CreatedAt]) VALUES (N'7831a211-f1d9-4cdb-9b5d-02d5835fcf64', N'fb76ff74-0e1e-4580-bd73-bd36703eb61c', N'user', N'gợi ý quần', NULL, CAST(N'2026-01-09T13:39:34.6955625' AS DateTime2))
INSERT [dbo].[ChatMessages] ([Id], [ConversationId], [Role], [Content], [ProductRecommendations], [CreatedAt]) VALUES (N'c1a0e4d9-7a0e-44f4-96b7-04ee2a8966f5', N'7c7b2d24-990a-4008-8e4b-1154ca81597c', N'user', N'shop bạn của sản phẩm nào phù hợp với yêu cầu không', NULL, CAST(N'2025-12-28T19:31:00.9211692' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [Name], [Description], [DateStart], [DateExpried], [Quantity], [Status], [Discount]) VALUES (1, N'Giảm 50% cho tổng giá trị đơn hàng mua ngày 8/4', N'Giảm 50% cho tổng giá trị đơn hàng mua ngày 8/4', CAST(N'2025-04-03T14:22:00.0000000' AS DateTime2), CAST(N'2025-04-17T14:23:00.0000000' AS DateTime2), 0, 1, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[Coupons] ([Id], [Name], [Description], [DateStart], [DateExpried], [Quantity], [Status], [Discount]) VALUES (2, N'a', N'ầdsfadsfasd', CAST(N'2025-04-10T18:19:00.0000000' AS DateTime2), CAST(N'2025-04-13T18:19:00.0000000' AS DateTime2), 0, 1, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[Coupons] ([Id], [Name], [Description], [DateStart], [DateExpried], [Quantity], [Status], [Discount]) VALUES (3, N'abc', N'ádfsdafds', CAST(N'2025-04-10T22:04:00.0000000' AS DateTime2), CAST(N'2025-04-14T22:04:00.0000000' AS DateTime2), 0, 1, CAST(10.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[MomoInfos] ON 

INSERT [dbo].[MomoInfos] ([Id], [OrderId], [OrderInfo], [FullName], [Amount], [DatePaid]) VALUES (8, N'638796164758630964', N'Khách hàng: Vuongdz. Nội dung: ', N'tranthanhdemo@gmail.com', CAST(45645.00 AS Decimal(18, 2)), CAST(N'2025-04-07T16:54:44.0369658' AS DateTime2))
INSERT [dbo].[MomoInfos] ([Id], [OrderId], [OrderInfo], [FullName], [Amount], [DatePaid]) VALUES (9, N'638796176944188576', N'Khách hàng: vuongtest. Nội dung: ', N'tranthanhdemo@gmail.com', CAST(167867.00 AS Decimal(18, 2)), CAST(N'2025-04-07T17:15:03.4606517' AS DateTime2))
INSERT [dbo].[MomoInfos] ([Id], [OrderId], [OrderInfo], [FullName], [Amount], [DatePaid]) VALUES (10, N'638796382974691285', N'Khách hàng: vuongtest. Nội dung: ', N'tranthanhdemo@gmail.com', CAST(167867.00 AS Decimal(18, 2)), CAST(N'2025-04-07T22:58:25.0897195' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MomoInfos] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [UserName], [OrderCode], [ProductId], [Price], [Quantity]) VALUES (1, N'thanh@gmail.com', N'f652b4bf-3efd-4c44-92ad-10b275e12471', 7, CAST(245600.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[OrderDetails] ([Id], [UserName], [OrderCode], [ProductId], [Price], [Quantity]) VALUES (2, N'thanh@gmail.com', N'f652b4bf-3efd-4c44-92ad-10b275e12471', 8, CAST(999999.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[OrderDetails] ([Id], [UserName], [OrderCode], [ProductId], [Price], [Quantity]) VALUES (3, N'thanh@gmail.com', N'67fd5cf2-a62c-4456-ac4b-6ac0662ecd59', 7, CAST(245600.00 AS Decimal(18, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Order_code], [UserName], [CreatedDate], [Status], [ShippingCost], [CouponCode], [PaymentMethod], [ShippingAddress], [Receiver], [PhoneReceiver]) VALUES (22, N'5dd2220e-3aa1-4b8b-a7ee-89d894fdbe89', N'tranthanhdemo@gmail.com', CAST(N'2025-04-10T14:40:35.7880791' AS DateTime2), 1, CAST(50000.00 AS Decimal(18, 2)), NULL, N'MOMO 638798676253500967', NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [Order_code], [UserName], [CreatedDate], [Status], [ShippingCost], [CouponCode], [PaymentMethod], [ShippingAddress], [Receiver], [PhoneReceiver]) VALUES (23, N'6e1cd5a7-58c3-4d09-8704-ad1f0628d4d0', N'tranthanhdemo@gmail.com', CAST(N'2025-04-10T23:37:52.8299701' AS DateTime2), 1, CAST(0.00 AS Decimal(18, 2)), NULL, N'VnPay 14900971', NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [Order_code], [UserName], [CreatedDate], [Status], [ShippingCost], [CouponCode], [PaymentMethod], [ShippingAddress], [Receiver], [PhoneReceiver]) VALUES (24, N'7604c04e-44c4-406a-84ae-f4573df623c1', N'test@gmail.com', CAST(N'2025-04-11T15:30:18.1280320' AS DateTime2), 1, CAST(30000.00 AS Decimal(18, 2)), NULL, N'VnPay 14902054', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductQuantities] ON 

INSERT [dbo].[ProductQuantities] ([Id], [Quantity], [ProductId], [DateCreated]) VALUES (1, 6, 3, CAST(N'2025-04-02T12:50:11.193' AS DateTime))
INSERT [dbo].[ProductQuantities] ([Id], [Quantity], [ProductId], [DateCreated]) VALUES (2, 3, 3, CAST(N'2025-04-02T12:54:03.423' AS DateTime))
INSERT [dbo].[ProductQuantities] ([Id], [Quantity], [ProductId], [DateCreated]) VALUES (3, 4, 3, CAST(N'2025-04-02T12:54:08.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductQuantities] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Slug], [Description], [Price], [BrandId], [CategoryId], [Image], [Quantity], [Sold]) VALUES (3, N'Quần bò ', N'Quần-áo-Nam', N'<p>Quần b&ograve; Nam</p>
', CAST(17000.00 AS Decimal(8, 2)), 2, 1, N'7d4691d2-8625-4366-90f9-364e975cc3c0_z6492935124045_1b8326356cfaf2c7afd19a08758e8b95.jpg', 74, 51)
INSERT [dbo].[Products] ([Id], [Name], [Slug], [Description], [Price], [BrandId], [CategoryId], [Image], [Quantity], [Sold]) VALUES (4, N'Áo ngắn tay', N'Quần-áo-Nam-2', N'<p>&aacute;o ngắn tay&nbsp;</p>
', CAST(40000.00 AS Decimal(8, 2)), 1, 2, N'ed91d08a-2bb7-48ca-a5cb-5fde5a358a85_z6492591114721_5f7a8ecdab1566e3a3b0ca0e6d5b5678.jpg', 71, 39)
INSERT [dbo].[Products] ([Id], [Name], [Slug], [Description], [Price], [BrandId], [CategoryId], [Image], [Quantity], [Sold]) VALUES (5, N'Quần đùi ', N'Quần-áo-nữ-22', N'<p>quần đ&ugrave;i&nbsp;</p>
', CAST(20000.00 AS Decimal(8, 2)), 1, 1, N'a477115f-ef3d-4ea4-b8b5-ce640cda4046_z6492588720567_a2525e1b09492ca1a8c430d61b7d493e.jpg', 39, 11)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([Id], [ProductId], [Comment], [Name], [Email], [Star]) VALUES (1, 3, N'cũng đẹp đấy ', N'hoang', N'hoang123@gmail.com', N'3')
INSERT [dbo].[Ratings] ([Id], [ProductId], [Comment], [Name], [Email], [Star]) VALUES (6, 4, N'đẹp ', N'quanvuong', N'quanvuong@gmail.com', N'5')
INSERT [dbo].[Ratings] ([Id], [ProductId], [Comment], [Name], [Email], [Star]) VALUES (7, 3, N'xấu', N'hoangadmin', N'hoangadmin@gmail.com', N'1')
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Shippings] ON 

INSERT [dbo].[Shippings] ([Id], [Price], [Ward], [District], [City]) VALUES (1, CAST(2500.00 AS Decimal(18, 2)), N'Xã Hoà Long', N'Thành phố Bà Rịa', N'Tỉnh Bà Rịa - Vũng Tàu')
INSERT [dbo].[Shippings] ([Id], [Price], [Ward], [District], [City]) VALUES (4, CAST(30000.00 AS Decimal(18, 2)), N'Thị trấn An Phú', N'Huyện An Phú', N'Tỉnh An Giang')
INSERT [dbo].[Shippings] ([Id], [Price], [Ward], [District], [City]) VALUES (5, CAST(20000.00 AS Decimal(18, 2)), N'Phường Dĩnh Kế', N'Thành phố Bắc Giang', N'Tỉnh Bắc Giang')
SET IDENTITY_INSERT [dbo].[Shippings] OFF
GO
SET IDENTITY_INSERT [dbo].[Statisticals] ON 

INSERT [dbo].[Statisticals] ([Id], [Quantity], [Sold], [Revenue], [Profit], [DateCreated]) VALUES (2, 10, 100, CAST(1000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(N'2025-04-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Statisticals] ([Id], [Quantity], [Sold], [Revenue], [Profit], [DateCreated]) VALUES (3, 20, 200, CAST(2000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(N'2025-04-06T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Statisticals] OFF
GO
SET IDENTITY_INSERT [dbo].[VnInfos] ON 

INSERT [dbo].[VnInfos] ([Id], [OrderDescription], [TransactionId], [OrderId], [PaymentMethod], [PaymentId], [DateCreated]) VALUES (1, N'vuongtest Thanh toán VnPay cho đơn hàng tại cửa hàng 167867', N'14894000', N'638796617475012939', N'VnPay', N'14894000', CAST(N'2025-04-07T22:30:23.8470565' AS DateTime2))
INSERT [dbo].[VnInfos] ([Id], [OrderDescription], [TransactionId], [OrderId], [PaymentMethod], [PaymentId], [DateCreated]) VALUES (2, N'vuongtest Thanh toán VnPay cho đơn hàng tại cửa hàng 167867', N'14894063', N'638796635761886728', N'VnPay', N'14894063', CAST(N'2025-04-07T23:00:06.3480224' AS DateTime2))
INSERT [dbo].[VnInfos] ([Id], [OrderDescription], [TransactionId], [OrderId], [PaymentMethod], [PaymentId], [DateCreated]) VALUES (3, N'vuongtest Thanh toán VnPay cho đơn hàng tại cửa hàng 67867', N'14894953', N'638797147663904568', N'VnPay', N'14894953', CAST(N'2025-04-08T13:13:21.1003450' AS DateTime2))
SET IDENTITY_INSERT [dbo].[VnInfos] OFF
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0.5)) FOR [Discount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [ShippingCost]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Sold]
GO
ALTER TABLE [dbo].[VnInfos] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateCreated]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChatConversations]  WITH CHECK ADD  CONSTRAINT [FK_ChatConversations_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatConversations] CHECK CONSTRAINT [FK_ChatConversations_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_ChatConversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[ChatConversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_ChatConversations_ConversationId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Products_ProductId]
GO
